.reading-container {
  display: flex;
  flex-grow: 1;
  background-color: gray;
  overflow: auto;

  .nav-btn-back {
    left: 0;
    bottom: 0;
    height: 100%;
    font-size: 8vw;
    cursor: pointer;
    text-shadow: 0.4vw 0.4vw rgba(64, 62, 62, 0.25);
    position: fixed;
    z-index: 1;
  }

  .nav-btn-forward {
    right: 0;
    bottom: 0;
    height: 100%;
    font-size: 8vw;
    cursor: pointer;
    text-shadow: 0.4vw 0.4vw rgba(64, 62, 62, 0.25);
    position: fixed;
    z-index: 1;
  }

  .reading-document {
    width: 100%;

    .react-pdf__Page {
      :not([class^='translation-popup']):not(.selected) {
        :hover {
          background-color: #3399ff14;
        }

        :active {
          background-color: #3399ff64;
        }
      }

      height: 0;

      .react-pdf__Page__canvas {
        outline-color: black;
        outline-style: dashed;
      }

      .selected {
        background-color: #3399ff32;
        border-radius: 1px;
      }
    }
  }
}
