.animate {
  animation: pop 0.1s linear 1;
}

.translation-popup {
  position: absolute;
  max-width: 75%;
  width: max-content;
  text-align: center;

  padding: 6px;
  border-radius: 5px;
  background-color: #fff;

  transform-style: preserve-3d;
  z-index: 200;

  color: #0641ad;
  box-shadow: 1px 1px 20px rgba(#0641ad, 0.3);

  left: 0;
  right: 0;
  margin: 21px auto auto;

  &:after {
    color: transparent;
    content: ' ';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -0.5rem;
    border-width: 0.5rem;
    border-style: solid;
    border-bottom-color: #fff;
  }

  .translation-popup-content {
    background-color: white;
  }

  @keyframes pop {
    0% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}
