.home-header {
  background-color: azure;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;


  .dropzone {
    flex-grow: 1;
    margin-right: 1rem;
    padding: 0 0.5rem;
    border-style: dashed;
    border-color: #eeeeee;
    background-color: #fafafa;
    align-self: center;
    .header-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

  }

  .lang-input {
    display: flex;
    justify-content: space-between;
    :first-child {
      margin-right: 0.5rem;
    }

    .lang-combo-box {
    }
  }
}


