
.reading-container {
  display: flex;
  flex-grow: 1;
  background-color: gray;
  overflow: auto;

  div[class^='nav-btn'] {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 10%;
    position: absolute;
    z-index: 1;
    height: 100%;
    background-color: rgba(240, 240, 240, 0.5);
  }
  .nav-btn-back{
    left:0;
  }
  .nav-btn-forward{
    right: 0;
  }

  .reading-document {
    width: 100%;
    .react-pdf__Page {
      height: 0;

      .react-pdf__Page__canvas {
        outline-color: black;
        outline-style: dashed;
      }

      .selected {
        background-color: #3399ff32;
        border-radius: 1px;
      }
    }
  }
}
